.form-container
  %p Add Stat Mod
  = simple_form_for @stat_mod do |f|
    = f.hidden_field :modifiable_id
    = f.hidden_field :modifiable_type
    
    .two-column
      .input.select
        = f.label :stat_name
        = f.select :stat_name, @stats, {}, class: 'cs-select cs-skin-elastic'


    .two-column
      = f.label :amount
      .input-double-symbols
        .left-symbol
          = link_to '#', class: 'minus' do
            %i.fa.fa-minus

        .right-symbol
          = link_to '#', class: 'plus' do
            %i.fa.fa-plus

        = f.input_field :amount, as: :string

    .one-column
      = f.submit
