%nav.icon-top-bar
  %ul.icons
    %li
      = link_to players_path do
        %i.fa.fa-users
        %br
        All
    %li
      = link_to new_player_path do
        %i.fa.fa-user-plus
        %br
        New
    -# %li
    -#   = link_to player_path(@player) do
    -#     %i.fa.fa-user
    -#     %br
    -#     Player
    -# %li
    -#   = link_to edit_player_path(@player) do
    -#     %i.fa.fa-gear
    -#     %br
    -#     Edit

.players-index-container
  %ul.players
    - @players.order(name: :asc).each do |player|
      %li
        = link_to player do
          %i.fa.fa-user
          = player.name
          \-
          = player.character.name
          Lv.
          = player.level
